:root {
	--primary: #000000;
	--bg: #ffffff;
}

* {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	border: none;
	box-sizing: border-box;
}

body {
	background-color: rgba(0, 0, 0, 0.1);
	color: black;
}

.navigasi {
	width: 100%;
	height: 70px;
	background-color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 3%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: -1px 3px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: -1px 3px 6px 0px rgba(0,0,0,0.5);
	
}

.navigasi .nav-kiri {
	background-color: var(--primary);
	width: 250px;
	height: 70px;
	font-size: 20px;
	display: flex; /* Gunakan flexbox */
    align-items: center; /* Align vertikal ke tengah */
    gap: 3px; /* Beri jarak antara gambar dan teks */
}

.nav-kiri img {
	width: 50px;
	height: 50px;
	float: left;
	object-fit: contain; /* Pastikan gambar tidak terdistorsi */
    vertical-align: middle; /* Opsional, hanya untuk keamanan */
}

.navigasi .nav-kiri p {
	color: var(--bg);
	font-size: 24px;
	font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins */
    font-weight: 600; /* Semibold */
	font-style: italic;
}

.navigasi .nav-kanan {
	width: 500px;
	height: 70px;
	background-color: var(--primary);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navigasi .nav-kanan a {
	display: inline-block;
	font-size: 18px;
	margin: 0 16px;
	color: var(--bg);
	font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins */
    font-weight: 500;
}

.container-etalase {
	margin-top: 70px;
	height: 100px;
	background-color:var(--primary);
}

.container-etalase .menu-etalase {
	display: flex;
	justify-content: space-between;
	background-color: var(--primary);
	color: white;
	padding: 10px 100px;
	align-items: center;
}

.container-etalase .menu-etalase .find-product form {
	display: flex;
}

.container-etalase .menu-etalase .find-product input {
	height: 30px;
	padding-left: 10px;
	border-radius: 25px 0 0 25px;
}

.container-etalase .menu-etalase .find-product button {
	height: 30px;
	padding: 0 10px;
	border-radius: 0 25px 25px 0;
}

.container-etalase .list-merek {
	display: flex;
	justify-content: center;
	align-items: end;
	background: var(--primary);
	margin-top: 10px;
	font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins */
}

.container-etalase .list-merek a {
	text-decoration: none;
	padding: 0 10px;
	color: white;
	font-size: 20px;
}

.container-etalase .list-merek a.active {
	background-color: var(--primary);
	color: rgb(153, 151, 151);
}

.cards {
	max-width: 1500px;
	min-height: 60vh;
	display: grid;
	margin: 30px auto;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.card {
	background-color: var(--bg);
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	position: relative;
	padding-bottom: 70px;
	border-radius: 20px;
}

.card img {
	width: 250px;
	height: 250px;
	display: block;
	margin: 10px auto;
}

.card-title {
	text-align: center;
	margin-bottom: 10px;
}

.card-body {
	padding: 10px 30px;
}

.order-icon {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.order-icon a {
	color: white;
	font-family: 'Poppins', sans-serif;
	display: block;
	margin: auto;
}

.card-action {
	display: block;
	background-color: var(--sbg);
/*	background-color: #321f16;*/
	color: white;
	text-align: center;
	padding: 15px 0;
	font-size: 22px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-decoration: none;
}

.spek-product {
	list-style: none;
}

.spek-product li {
	padding-top: 3px;
}

div.pesan {
	width: 50%;
	background-color: limegreen;
	height: 30px;
	border-radius: 25px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

.pesan p {
	font-size: 15px;
}

.pesan img {
	width: 25px;
	height: 25px;
}

footer {
	background-color: var(--primary);
}

footer p {
	text-align: center;
	margin: 10px;
	font-size: 20px;
	padding-top: 15px;
	color: var(--bg);
}

footer .social {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 10px;
}

.social div {
	margin-bottom: 50px;
	width: 30px;
	height: 30px;
	background-color: var(--bg);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.social div:hover {
	width: 35px;
	height: 35px;
}

.social div a {
	margin: 10px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	color: var(--primary);
}

.youtube a img {
	width: 20px;
	height: 20px;
}

.tiktok a img {
	width: 20px;
	height: 20px;
}

.instagram a img {
	width: 20px;
	height: 20px;
}