:root {
	--primary: #21130d;
	--bg: #fbfcfa;
	--sbg: #f2f5f0;
}

* {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
}

body {
	background-color: var(--primary);
	color: black;
}

.container {
	background-color: var(--bg);
	width: 70%;
	margin: 0 auto;
	padding: 0 30px;
	padding-bottom: 30px;
}

header {
	display: flex;
	background-color: var(--bg);
	justify-content: space-between;
	padding: 10px;
	justify-content: center;
}

.back {
	margin-bottom: 30px;
}
.row{
	display: flex;
	justify-content: space-between;
}
.input-group {
	flex-basis: 49.5%;
	flex-shrink: 0;
	flex-grow: 0;
	padding: 10px 0;
}
.input-group label{
	padding-left: 5px;
}

.input-group .input{
	display: block;
	height: 37px;
	width: 100%;
	border: 1px solid var(--primary);
	padding: 0 5px;
	border-radius: 4px;
	background: transparent;
}
.input-group textarea.input{
	resize: vertical;
	height: unset;
}
input[type="file"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.image-preview label{
	position: relative;
	display: block;
	width: 250px;
	height: 250px;
	margin: auto;
}
.image-preview label div{
	position: absolute;
	width: 100%;
	height: 100%;
	background: gray;
	margin: auto;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.image-preview label img{
	z-index: 99;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid var(--primary);
	border-radius: 7px;
}
.image-preview label div.dragover{
	background: rgb(100, 100, 100);
}

button {
	display: block;
	margin: 0 auto;
	padding: 5px 15px;
	font-size: 20px;
	border-radius: 6px;
	background-color: var(--primary);
	color: var(--sbg);
}