:root {
	--primary: #21130d;
	--bg: #fbfcfa;
}

* {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	border: none;
}

body {
	background-image: linear-gradient(to bottom, rgba(10, 10, 252, 0.42), rgba(117, 19, 93, 0.73)), url('img/login-bg.jpg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	color: black;
}

.log-con {
	width: 400px;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
	top: 20vh;
	padding-bottom: 30px;
	background: rgba(255, 255, 255, 0.24);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.uplog {
	text-align: center;
	background-color:;
	width: 100%;
}
.uplog h1 {
	padding-bottom: 20px;
}
.user-icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: -40px;
	background: rgba(255, 255, 255, 0.34);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.user-icon img {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: auto;
	margin-top: 10px;
}

.data-input {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 45px;
}

.input-group {
	border: 1px solid black;
	margin-bottom: 15px;
	display: flex;
}

.input-group label {
	width: 10%;
	height: 30px;
	font-size: 20px;
	padding-top: 1.5px;
	padding-left: 10px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.34);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-group input {
	height: 30px;
	width: 88%;
	padding-left: 15px;
	background-color: transparent;
	border: transparent;
	outline: transparent;
	font-size: 16px;
}

.log-button button {
	width: 90%;
	height: 30px;
	border: 1px solid black;
	font-size: 16px;
	display: block;
}

button {
	font-size: 15px;
	width: 90%;
	height: 30px;
	font-size: 20px;
	border-radius: 0px;
	outline: transparent;
	border: 0px;
	margin: auto;
	display: block;
	background: rgba(255, 255, 255, 0.34);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}